<!DOCTYPE html>
<html>

<body>
    <section class="page-content big-content" data-content="generic">
        <figure class="title-content">
            <img src="images/content/itens/push-pin-black.png" />
            <h2>Tópicos da disciplina</h2>
        </figure>
        <section class="big-inner-content table-content content-menu">
            <section class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 no-padding topic-menu inner-menu">
                <ul>
                    <li class="item-menu-list active" data-topic="description" data-menu="question">Tópicos</li>
                    <% data.topics.forEach(function(topic) { %>
                        <li class="item-menu-list" data-topic="<%= topic.id_topic %>">
                            <img class="user-topic" title="<%= topic.name_type_topic %>" name="user-topic" src="svg/itens/<%= topic.file_type_topic %>.svg"
                            />
                            <label>
                                <%= topic.name_topic.substr(0, 20) %>
                            </label>
                        </li>
                        <% }); %>
                </ul>
            </section>
            <section class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 no-padding topic-content content">
                <section class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-padding topic-colaboration" data-section="topic">
                    <section class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-padding content-topic-colaboration">
                        <article class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 item-topic description">
                            <p>
                                Para participar do tópico, Selecione-o na lista ao lado.
                            </p>
                        </article>
                        <section class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 item-topic content-data-topic" style="display:none;">
                            <section class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 content-item">
                                <h3>Dados do tópico</h3>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 data-item">
                                    <div class="content-user-topic">
                                        <label class="item-identify type-user"></label>
                                        <figure class="user-topic" name="user-topic">
                                            <img name="user-avatar" src="" />
                                        </figure>
                                        <figcaption name="user-name"></figcaption>
                                    </div>
                                    <div class="data-topic">
                                        <figure class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-padding type-topic" name="type-topic">
                                            <div class="data-type-topic">
                                                <label class="item-identify">Nome do tópico</label>
                                                <img src="" />
                                                <h4 name="name-topic"></h4>
                                            </div>
                                            <div class="resolved-topic">
                                                <label class="item-identify">Resolvido?</label>
                                                <input type="checkbox" name="resolved-topic" class="switch" 
                                                data-toggle="toggle" data-on="Sim" data-off="Não" 
                                                data-onstyle="success" data-offstyle="danger" data-width="80"/>
                                            </div>
                                        </figure>
                                        <article class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-padding">
                                            <label class="item-identify">Decrição do tópico</label>
                                            <p name="description-topic"></p>
                                        </article>
                                    </div>
                                </div>
                            </section>
                            <article class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 content-item comments">
                                <h3>Comentários</h3>
                                <span class="not-comment">Este tópico ainda não possuí comentários.</span>
                            </article>
                        </section>
                    </section>
                    <section class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 action-comments" style="display:none;">
                        <input type="text" class="topic-comment" placeholder="Digite um comentário" />
                    </section>
                </section>
            </section>
        </section>
    </section>
    <script class="script-view-topic" data-content="generic">
        var dataValues = JSON.parse('<%- JSON.stringify(data) %>');
        var user = JSON.parse(localStorage.getItem('user'));
        var topic = new Topic(dataValues.topics, dataValues.comments);

        console.log(topic);

        $('.switch').bootstrapToggle();

        $('.item-menu-list').on('click', function () {
            if (!$(this).hasClass('active')) {
                var that = $(this);
                $('.item-menu-list').removeClass('active');
                that.addClass('active');


                if (that.attr('data-topic') == 'description') {
                    $('.content-data-topic, .action-comments').fadeOut(200, function () {
                        topic.resetStructure($('.content-data-topic'));
                        $('.description').fadeIn();
                    });
                } else {
                    $('.description').fadeOut(200, function () {
                        topic.setStructureTopic($('.content-data-topic'), parseInt(that.attr('data-topic')));
                        $('.content-data-topic, .action-comments').fadeIn();
                    });
                }
            }
        });

        $('.topic-comment').on('keyup', function (e) {
            var that = $(this);

            if (e.which == 13) {
                if (that.val().replace(/ /ig, "").length > 0) {
                    dataComment = {
                        user,
                        'text': that.val(),
                        'idTopic': $('.comments').attr('data-id-topic')
                    }

                    topic.createTopicComment($('.comments'), dataComment, function (data) {
                        if (data) {
                            $('.comments .not-comment').fadeOut(200, function () {
                                that.val('');
                            });
                        } else {
                            alert('ocorreu um erro!');
                        }
                    });
                }
            }
        });
    </script>
</body>

</html>