<header class="inner-header">
    <div class="button-menu hidden">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <h1>
        Página inicial  
        <span>
            > <%= way %>
        </span>
    </h1>
    <section class="identify-user">
        <figure class="">
        </figure>
        <div class="config-user">
            <a class="acount-edit" href="javascript:void(0)">Editar conta</a>
            <a href="/logout">Desconectar</a>
        </div>
    </section>
    <script>
    (function(){
        var user = {
            name: '<%= user.name %>',
            id: '<%= user.id %>',
            registry: '<%= user.user %>',
            identity: '<%= user.identity %>'
        }
        
        localStorage.setItem('user', JSON.stringify(user));
    })();
    </script>
</header>