<!DOCTYPE html>
<html>
<body>
    <section class="page-content big-content" data-content="generic">
        <figure class="title-content">
            <img src="images/content/itens/new-file.png"/>
            <% if (data.activity) { %>
                <h2>Editar atividade</h2>
            <% } else { %>
                <h2>Criar atividade</h2>
            <% } %>
        </figure>
        <section class="big-inner-content table-content content-menu">
            <section class="col-12 col-xl-2 activity-menu inner-menu">
                <ul>
                    <li class="item-menu-list active" data-menu="question">Questão</li>
                    <li class="item-menu-list questions"><ul class="inner-list-menu"></ul></li>
                    <li class="item-menu-list" data-menu="config">Configurações</li>
                </ul>
                <div class="activity-action action-menu">
                    <button id="save-activity" class="tool edit"></button>
                    <% if (data.activity) { %>
                        <label for="save-activity">Atualizar atividade</label>
                    <% } else { %>
                        <label for="save-activity">Salvar atividade</label>
                    <% } %>
                </div>
            </section>
            <section class="col-xl-10 activity-content">
                <section class="col-12 col-xl-12 section-question" data-section="question">
                    <header class="col-12 col-xl-12">
                        <h3>Inserir questão</h3>
                    </header>
                    <section class="col-12 col-xl-12 question-tools">
                        <div class="col-12 col-xl-8 type-question">
                            <figure class="active" data-tool="unique">
                                <img src="images/content/tools/unique.png"/>
                            </figure>
                            <figure data-tool="multiple">
                                <img src="images/content/tools/multiple.png"/>
                            </figure>
                            <figure data-tool="draw">
                                <img src="images/content/tools/draw.png"/>
                            </figure>
                        </div>
                        <div class="col-12 col-xl-4 question-action">
                                <button id="save-question" data-save="insert" class="tool btn-correct"></button>
                                <label for="save-question">Adicionar questão</label>
                        </div>
                    </section>
                    <article class="content-question" data-section="question">
                        <div class="elements-question" data-content="unique">
                            <h4>Única escolha</h4>
                            <div class="question">
                                <h5>Descrição</h5>
                                <p class="description" contenteditable="true"></p>
                            </div>
                            <div class="alternative">
                                <table>
                                    <thead>
                                        <tr>
                                            <td class="col-2 col-xl-1 content-tool"><h5>Correta</h5></td>
                                            <td class="col-8 col-xl-10"><h5>Descrição</h5></td>
                                            <td class="col-2 col-xl-1 content-tool"></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="not-alternative">
                                            <td>
                                                Não há alternativas para a questão.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button id="new-alternative-radio" class="tool btn-add" data-type="radio"></button>
                            <label for="#new-alternative-radio">Nova alternativa</label>
                        </div>
                        <div class="elements-question" data-content="multiple">
                            <h4>Multipla escolha</h4>
                            <div class="question">
                                <h5>Descrição</h5>
                                <p class="description" contenteditable="true"></p>
                            </div>
                            <div class="alternative">
                                <table>
                                    <thead>
                                        <tr>
                                            <td class="col-2 col-xl-1 content-tool"><h5>Correta</h5></td>
                                            <td class="col-8 col-xl-10"><h5>Descrição</h5></td>
                                            <td class="col-2 col-xl-1 content-tool"></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="not-alternative">
                                            <td>
                                                Não há alternativas para a questão.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button id="new-alternative-checkbox" class="tool btn-add" data-type="checkbox"></button>
                            <label for="#new-alternative-checkbox">Nova alternativa</label>
                        </div>
                        <div class="elements-question" data-content="draw">
                            <h4>Resposta escrita</h4>
                            <div class="question">
                                <h5>Descrição</h5>
                                <p class="description" contenteditable="true"></p>
                            </div>
                        </div>
                    </article>
                </section>
                <section class="col-12 col-xl-12 activity-config" data-section="config" style="display:none;">
                    <header class="col-12 col-xl-12">
                        <h3>Configuração</h3>
                    </header>
                    <section class="col-12 col-xl-12 content-config">
                    <div class="col-xl-4 config-item">
                        <h4>Nome da atividade</h4>
                        <input name="name-activity" type="text"/>
                    </div>
                    <div class="col-xl-4 config-item">
                        <h4>Descrição da atividade</h4>
                        <textarea name="description-activity"></textarea>
                    </div>
                    <div class="col-xl-4 config-item">
                        <h4>Disciplina</h4>
                        <ul>
                        <% data.disciplines.forEach(function(discipline) { %>
                            <li>
                                <input type="radio" name="discipline-activity" id="discipline-<%= discipline.id_discipline %>" data-id="<%= discipline.id_discipline %>"/>
                                <label for="#discipline-<%= discipline.id_discipline %>"><%= discipline.name_discipline %></label>
                            </li>
                        <% }); %>
                        </ul>
                        <h4>Turmas</h4>
                        <ul>
                            <% data.classTeacher.forEach(function(classTeacher) { %>
                                <li>
                                    <input type="radio" name="class-activity" id="class-<%= classTeacher.id_class %>" data-id="<%= classTeacher.id_class %>"/>
                                    <label for="#class-<%= classTeacher.id_class %>"><%= classTeacher.name_class %></label>
                                </li>
                            <% }); %>
                        </ul>
                    </div>
                    <div class="col-xl-8 config-item reward">
                        <h4 class="col-xl-12">Bonificação</h4>
                        <% data.rewards.forEach(function(reward) { %>
                            <div class="col-xl-4">
                                <figure name="reward-activity" data-id="<%= reward.id_reward %>">
                                    <img src="images/reward/<%=reward.file_reward%>.png"/>
                                </figure>
                                <label><%= reward.name_reward %></label>
                            </div>
                        <% }); %>  
                    </div>
                    <div class="col-xl-4 config-item">
                        <h4>Pontuação</h4>
                        <input id="point" name="points-activity" type="number" min="1" max="10" value="1"/>
                    </div>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <script class="script-add-activity" data-content="generic">
    (function() {

        var editActivity = '<%- JSON.stringify(data.activity) %>';

        var activity = new Activity();
        var mountStructure = new StructureActivity();

        if(editActivity.length > 0){
            editActivity = JSON.parse(editActivity);

            var configEdit = { 
                        'nameActivity' : editActivity.config[0].nameactivity,
                        'descriptionActivity' : editActivity.config[0].descriptionactivity,
                        'pointActivity': editActivity.config[0].pointactivity,
                        'idDiscipline': editActivity.config[0].iddiscipline,
                        'idTeacher': editActivity.config[0].idteacher,
                        'rewards': editActivity.rewards
            };

            activity.id = editActivity.id;
            activity.config = configEdit;
            activity.questions = editActivity.questions;

            mountStructure.mountListQuestion(activity.questions, function(){
                $('.activity-menu li.questions').show();

                $('.questions .open-edit').on('click', function(){
                    mountStructure.setElements($(this).parents('li.question').attr('data-question'), activity.questions[parseInt($(this).parents('li.question').attr('data-question'))]);
                });
                $('.questions .remove').on('click', function(){
                    activity.removeQuestion(parseInt($(this).parents('li.question').attr('data-question')));
                    $(this).parents('li.question').remove();
                    
                    $('li.question').each(function(i,el){
                        $(this).attr('data-question', i);
                    });
                });
            });

            mountStructure.setConfig(activity.config);
        }

        $('.type-question figure').on('click', function(){
            var _this = $(this);
            if(!_this.hasClass('active')){
                $('.type-question figure').removeClass('active').addClass('inactive');
                $('.content-question > div').fadeOut(400, function(){
                    setTimeout(function(){
                        $('.content-question > div[data-content="'+_this.attr('data-tool')+'"]').fadeIn(200, function(){
                            $('.type-question figure').removeClass('inactive');
                            _this.addClass('active');
                        });
                    }, 400);
                });
            }
        });


        $('.activity-menu .item-menu-list:not(.questions)').on('click', function(){
            var _this = $(this);

            if(!_this.hasClass('active')){
                $('.activity-menu .item-menu-list').removeClass('active').addClass('inactive');
                $('.table-content [data-section]').fadeOut(400, function(){
                    setTimeout(function(){
                        $('.table-content [data-section="'+_this.attr('data-menu')+'"]').fadeIn(200, function(){
                            $('.activity-menu .item-menu-list').removeClass('inactive');
                            _this.addClass('active');
                            $('.activity-menu li.question').removeClass('active');
                            $('.content-question .question .description').text('');
                            $('.content-question .alternative .row-data').remove();
                            $('.content-question .alternative .not-alternative').show();
                            $('#save-question').removeAttr('data-edit').attr('data-save','insert');
                            $('.question-action label').text('Adicionar questão');
                        });
                    }, 400);
                });
            }
        });

        $('.tool.btn-add').on('click', function(){
            var _this = $(this);
            
            _this.parents('.elements-question').find('.alternative table .not-alternative').fadeOut(200, function(){
                $('.tool.btn-add').addClass('inactive');

                _this.parents('.elements-question').find('.alternative table').append(
                        `<tr class="row-data">
                            <td class="col-2 col-xl-1 content-tool"><input class="correct" name="correct-${ _this.attr('data-type') }" type="${ _this.attr('data-type') }"/></td>
                            <td class="col-8 col-xl-10"><p class="description" contenteditable="true"></p></td>
                            <td class="col-2 col-xl-1 content-tool"><button class="tool remove"></button></td>
                        </tr>`
                );
                $('.elements-question .tool.btn-add').removeClass('inactive');

                $('.elements-question .tool.remove').on('click', function(){
                    if($(this).parents('.alternative').find('table tbody tr').length == 2){
                        $(this).parents('.alternative').find('table .not-alternative').fadeIn(200);
                        $(this).parents('tr').remove();
                    }else{
                        $(this).parents('tr').remove();
                    }
                });
            });
        });

        $('#save-question').on('click', function(){
            var typeQuestion = $('.type-question figure.active').attr('data-tool');
            var questionElement = $(`.content-question .elements-question[data-content="${typeQuestion}"]`);
            var questionAlternative = questionElement.find('.alternative');
            var question = "";
            var that = $(this);
            var valid = false;

            try{
                if(questionElement.find('.question .description').text().length == 0){
                    valid = false;
                    throw "empty";
                }else{
                    valid = true;
                }

                if(questionAlternative.length == 0){
                    question = new Question(null, typeQuestion, questionElement.find('.question .description').text(), null);
                }else{
                    if(questionAlternative.find('.description').text().length == 0){
                        valid = false;
                        throw "empty";
                    }else{
                        valid = true;
                    }
                    
                    var alternatives = [];
                    questionAlternative.find('.row-data').each(function(i, el){
                        var alternative = new Alternative(null, $(this).find('.correct').is(':checked'), $(this).find('.description').text());
                        alternatives.push(alternative);
                    });
                    question = new Question(null, typeQuestion, questionElement.find('.question .description').text(), alternatives);
                }
                if(that.attr('data-save') == 'edit'){
                    activity.editQuestion(parseInt(that.attr('data-edit')), question);
                }else{
                    activity.addQuestion(question);
                }
            }catch(e){
                alert('preencha todos os campos!');
            }finally{
                if(valid){
                    if(that.attr('data-save') == 'edit'){
                        $(`li.question[data-question="${that.attr('data-edit')}"] label`)
                        .text(question.description.substr(0, 10));
                        that.attr('data-save', 'insert');
                    }else{
                        $('li.questions ul').append(
                            $('<li class="question">')
                                .append($('<label>').text(question.description.substr(0, 10)))
                                .append($('<div class="tool open-edit">'))
                                .append($('<div class="tool remove">'))
                                .attr('data-question', activity.questions.length-1)
                        )
                    }
                    $('.content-question .question .description').text('');
                    $('.content-question .alternative .row-data').remove();
                    $('.content-question .alternative .not-alternative').show();
                    $('.question-action label').text('Adicionar questão');
                    $('li.questions').fadeIn(200);
                    $('.questions .open-edit, .questions .remove').off('click');
                    
                    $('.questions .open-edit').on('click', function(){
                        var _this = $(this);

                        if(!$(this).parents('li.question').hasClass('active')){
                            $('.activity-menu .item-menu-list').removeClass('active').addClass('inactive');
                            $('.table-content [data-section]').fadeOut(400, function(){
                                setTimeout(function(){
                                    $('.table-content [data-section="question"]').fadeIn(200, function(){
                                        $('.activity-menu .item-menu-list').removeClass('inactive');
                                        $('.item-menu-list').removeClass('active');
                                        _this.parents('li.question').addClass('active');
                                        mountStructure.setElements(_this.parents('li.question').attr('data-question'), activity.questions[parseInt(_this.parents('li.question').attr('data-question'))]);
                                    });
                                }, 400);
                            });
                    
                            
                        }
                    });

                    $('.questions .remove').on('click', function(){
                        activity.removeQuestion(parseInt($(this).parents('li.question').attr('data-question')));
                        $(this).parents('li.question').remove();
                        
                        $('li.question').each(function(i,el){
                            $(this).attr('data-question', i);
                        });
                    });
                }
            }
        });
        
        $('#save-activity').on('click', function(){
            try{
                var that = $(this);
                var valid = false;
                var user = JSON.parse(localStorage.getItem('user'));
                var config = { 
                        'nameActivity' : '',
                        'descriptionActivity' : '',
                        'pointActivity': $('[name="points-activity"]').val(),
                        'idDiscipline': 0,
                        'idClass': 0,
                        'idTeacher': user.id,
                        'rewards': []
                };
                var nameActivity = $('[name="name-activity"]');
                var descriptionActivity = $('[name="description-activity"]');
                var disciplineActivity = $('[name="discipline-activity"]:checked');
                var classActivity = $('[name="class-activity"]:checked');

                if(nameActivity.val().replace(' ', '').length == 0 || 
                descriptionActivity.val().replace(' ', '').length == 0 || 
                disciplineActivity.length == 0 ||
                classActivity.length == 0){
                    throw "empty";
                }else{
                    $('figure.active[name="reward-activity"]').each(function(){
                        config.rewards.push($(this).attr('data-id'));
                    });
                    config.nameActivity = nameActivity.val();
                    config.descriptionActivity = descriptionActivity.val();
                    config.idDiscipline = disciplineActivity.attr('data-id');
                    config.idClass = classActivity.attr('data-id');
                    valid = true;
                }
            }catch(e){
                alert('preencha todos os campos da configuração!');
            }finally {
                if(valid){
                    that.addClass('inactive');
                    activity.mountObjectSave(config, function(activityObject){
                        var type = "";

                        if(!activity.id){
                            type = 'insert';
                        }else{
                            type = 'update';
                        }
                        var data = { 
                            'controller' : {
                                'type': type,
                                'entity': 'activity',
                                'parameters': activityObject
                            }
                        };
                        var key = false;
                        
                        $.ajax({
                            url : '/teacher/post/' + type,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data : JSON.stringify(data),
                            async : false,
                            type: 'POST'
                        }).done(function(data){
                            try{
                                if(!data){
                                    throw "error";
                                }
                            }catch(e){
                                that.removeClass('inactive');
                                alert('ocorreu um erro!');
                            }finally{
                                activity.id = data.id;
                                activity.config = data.config;
                                activity.questions = data.questions;
                                that.next().text('alterar atividade');
                                that.removeClass('inactive');
                                alert('atividade salva com sucesso!');
                            }
                        });
                    });
                }
            }
        });
        $('.config-item.reward figure').on('click', function(){
            $(this).toggleClass('active');
        });

        if(mobile){
            $('.content-menu .inner-menu .item-menu-list .inner-list-menu').hide();
            $('.activity-menu li.questions').prepend('<div class="arrow top"></div>');
            $('.activity-menu li.questions').css('bottom', $('.inner-menu').height());

            $('.arrow').on('click', function(){
                if($(this).hasClass('top')){
                    $(this).removeClass('top');
                    $(this).addClass('bottom');
                    $('.content-menu .inner-menu .item-menu-list .inner-list-menu').slideDown();
                }else{
                    $(this).removeClass('bottom');
                    $(this).addClass('top');
                    $('.content-menu .inner-menu .item-menu-list .inner-list-menu').slideUp();
                }
            });
        }
    })();
    </script>
</body>
</html>