<!DOCTYPE html>
<html>
<body>
    <section class="page-content big-content" data-content="generic">
        <figure class="title-content">
            <img src="images/content/itens/new-file.png"/>
            <h2>Criar atividade</h2>
        </figure>
        <section class="big-inner-content table-content">
            <section class="col-xl-2 activity-menu">
                <ul>
                    <li class="item-menu-list active" data-menu="question">Questão</li>
                    <li class="item-menu-list" data-menu="config">Configurações</li>
                </ul>
                <div class="activity-action">
                    <button id="save-activity" class="tool edit"></button>
                    <label for="save-activity">Salvar atividade</label>
                </div>
            </section>
            <section class="col-xl-10 activity-content">
                <section class="col-xl-12 section-question" data-section="question">
                    <header class="col-xl-12">
                        <h3>Inserir questão</h3>
                    </header>
                    <section class="col-xl-12 question-tools">
                        <div class="col-xl-8 type-question">
                            <figure class="active" data-tool="unique">
                                <img src="images/content/tools/unique.png"/>
                            </figure>
                            <figure data-tool="multiple">
                                <img src="images/content/tools/multiple.png"/>
                            </figure>
                            <figure data-tool="draw">
                                <img src="images/content/tools/draw.png"/>
                            </figure>
                        </div>
                        <div class="col-xl-4 question-action">
                                <button id="save-question" class="tool btn-correct"></button>
                                <label for="save-question">Adicionar questão</label>
                        </div>
                    </section>
                    <article class="content-question" data-section="question">
                        <div class="elements-question" data-content="unique">
                            <h4>Única escolha</h4>
                            <div class="question">
                                <h5>Descrição</h5>
                                <p class="description" contenteditable="true"></p>
                            </div>
                            <div class="alternative">
                                <table>
                                    <thead>
                                        <tr>
                                            <td class="col-xl-1 content-tool"><h5>Correta</h5></td>
                                            <td class="col-xl-10"><h5>Descrição</h5></td>
                                            <td class="col-xl-1 content-tool"></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="not-alternative">
                                            <td>
                                                Não há alternativas para a questão.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button id="new-alternative-radio" class="tool btn-add" data-type="radio"></button>
                            <label for="#new-alternative-radio">Nova alternativa</label>
                        </div>
                        <div class="elements-question" data-content="multiple">
                            <h4>Multipla escolha</h4>
                            <div class="question">
                                <h5>Descrição</h5>
                                <p class="description" contenteditable="true"></p>
                            </div>
                            <div class="alternative">
                                <table>
                                    <thead>
                                        <tr>
                                            <td class="col-xl-1 content-tool"><h5>Correta</h5></td>
                                            <td class="col-xl-10"><h5>Descrição</h5></td>
                                            <td class="col-xl-1 content-tool"></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="not-alternative">
                                            <td>
                                                Não há alternativas para a questão.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button id="new-alternative-checkbox" class="tool btn-add" data-type="checkbox"></button>
                            <label for="#new-alternative-checkbox">Nova alternativa</label>
                        </div>
                        <div class="elements-question" data-content="draw">
                            <h4>Resposta escrita</h4>
                            <div class="question">
                                <h5>Descrição</h5>
                                <p class="description" contenteditable="true"></p>
                            </div>
                        </div>
                    </article>
                </section>
                <section class="col-xl-12 activity-config" data-section="config" style="display:none;">
                    <header class="col-xl-12">
                        <h3>Configuração</h3>
                    </header>
                    <section class="col-xl-12 content-config">
                    <div class="col-xl-3 config-item">
                        <h4>Disciplina</h4>
                        <ul>
                        <% data.disciplines.forEach(function(discipline) { %>
                            <li>
                                <input type="radio" id="discipline-<%= discipline.id_discipline %>" data-id="<%= discipline.id_discipline %>"/>
                                <label for="#discipline-<%= discipline.id_discipline %>"><%= discipline.name_discipline %></label>
                            </li>
                        <% }); %>
                        </ul>
                    </div>
                    <div class="col-xl-7 config-item reward">
                        <h4 class="col-xl-12">Bonificação</h4>
                        <% data.rewards.forEach(function(reward) { %>
                            <div class="col-xl-4">
                                <figure data-id="<%= reward.id_reward %>">
                                    <img src="images/reward/<%=reward.file_reward%>.png"/>
                                </figure>
                                <label><%= reward.name_reward %></label>
                            </div>
                        <% }); %>  
                    </div>
                    <div class="col-xl-2 config-item">
                        <h4>Pontuação</h4>
                        <input id="point" type="number" min="1" max="10" value="1"/>
                    </div>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <script class="script-add-activity" data-content="generic">
    (function() {
        var activity = new Activity();

        $('.type-question figure').on('click', function(){
            var _this = $(this);
            if(!_this.hasClass('active')){
                $('.type-question figure').removeClass('active').addClass('inactive');
                $('.content-question > div').fadeOut(400, function(){
                    setTimeout(function(){
                        $('.content-question > div[data-content="'+_this.attr('data-tool')+'"]').fadeIn(200, function(){
                            $('.type-question figure').removeClass('inactive');
                            _this.addClass('active');
                        });
                    }, 400);
                });
            }
        });

        $('.activity-menu .item-menu-list').on('click', function(){
            var _this = $(this);
            if(!_this.hasClass('active')){
                $('.activity-menu .item-menu-list').removeClass('active').addClass('inactive');
                $('.table-content [data-section]').fadeOut(400, function(){
                    setTimeout(function(){
                        $('.table-content [data-section="'+_this.attr('data-menu')+'"]').fadeIn(200, function(){
                            $('.activity-menu .item-menu-list').removeClass('inactive');
                            _this.addClass('active');
                        });
                    }, 400);
                });
            }
        });

        $('.tool.btn-add').on('click', function(){
            var _this = $(this);
            
            _this.parents('.elements-question').find('.alternative table .not-alternative').fadeOut(200, function(){
                $('.tool.btn-add').addClass('inactive');

                _this.parents('.elements-question').find('.alternative table').append(
                        `<tr class="row-data">
                            <td class="col-xl-1 content-tool"><input class="correct" type="${ _this.attr('data-type') }"/></td>
                            <td class="col-xl-10"><p class="description" contenteditable="true"></p></td>
                            <td class="col-xl-1 content-tool"><button class="tool remove"></button></td>
                        </tr>`
                );
                $('.tool.btn-add').removeClass('inactive');

                $('.tool.remove').on('click', function(){
                    if($(this).parents('.alternative').find('table tbody tr').length == 2){
                        $(this).parents('.alternative').find('table .not-alternative').fadeIn(200);
                        $(this).parents('tr').remove();
                    }else{
                        $(this).parents('tr').remove();
                    }
                });
            });
        });

        $('#save-question').on('click', function(){
            var typeQuestion = $('.type-question figure.active').attr('data-tool');
            var questionElement = $(`.content-question .elements-question[data-content="${typeQuestion}"]`);
            var questionAlternative = questionElement.find('.alternative');
            
            try{
                if(questionElement.find('.question .description').text().length == 0){
                    throw "empty";
                }

                if(questionAlternative.length == 0){
                    var question = new Question(typeQuestion, questionElement.find('.description').text(), null);
                    console.log(question);
                }else{
                    if(questionAlternative.find('.description').text().length == 0){
                        throw "empty";
                    }
                    
                    var alternatives = [];
                    questionAlternative.find('.row-data').each(function(i, el){
                        var alternative = new Alternative($(this).find('.correct').is(':checked'), $(this).find('.description').text());
                        alternatives.push(alternative);
                    });
                    console.log(alternatives);
                    var question = new Question(typeQuestion, questionElement.find('.description').text(), alternatives);
                    console.log(question);
                }
                activity.addQuestion(question);
                console.log(activity);
            }catch(e){
                alert('preencha todos os campos!');
            }
        });
        
        $('#save-activity').on('click', function(){
            $(this).addClass('inactive');
            var _this = $(this);
            var user = JSON.parse(localStorage.getItem('user'));
            var config = { 
                'nameActivity' : 'Teste',
                'descriptionActivity' : 'atividade teste',
                'pointActivity': 10,
                'idDiscipline': 1,
                'idTeacher': 11001
            };

            activity.mountObjectSave(config, function(activityObject){
                var data = { 
                    'controller' : {
                        'type': 'insert',
                        'entity': 'activity',
                        'parameters': activityObject
                    }
                };
                var key = false;
                
                $.ajax({
                    url : '/teacher/insert',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data : JSON.stringify(data),
                    async : false,
                    type: 'POST'
                }).done(function(data){
                    console.log(data);
                });
            });
        });
        $('.config-item.reward figure').on('click', function(){
            $(this).toggleClass('active');
        });
    })();
    </script>
</body>
</html>