<!DOCTYPE html>
<html>

<body>
    <section class="page-content big-content" data-content="generic">
        <figure class="title-content">
            <img src="images/content/itens/push-pin-black.png" />
            <% if (data.topic) { %>
                <h2>Editar tópico</h2>
                <% } else { %>
                    <h2>Criar tópico</h2>
                    <% } %>
        </figure>
        <section class="big-inner-content table-content content-menu">
            <section class="col-xl-2 topic-menu inner-menu">
                <ul>
                    <li class="item-menu-list active" data-menu="question">Dados</li>
                </ul>
                <div class="topic-action action-menu">
                    <button id="save-topic" class="tool edit"></button>
                    <% if (data.topic) { %>
                        <label for="save-topic">Atualizar tópico</label>
                    <% } else { %>
                        <label for="save-topic">Salvar tópico</label>
                    <% } %>
                    <input type="hidden" name="id-topic" value="<% if (data.topic) { %> <%=data.topic.id_topic%> <% } %>"/>
                    <input type="hidden" name="id-colaboration-topic" value="<% if (data.topic) { %> <%=data.topic.id_colaboration_topic%> <% } %>"/>
                </div>
            </section>
            <section class="col-xl-10 topic-content content">
                <section class="col-xl-12 topic-config" data-section="config">
                    <header class="col-xl-12">
                        <h3>Dados do tópico</h3>
                    </header>
                    <section class="col-xl-12 content-config">
                        <section class="col-xl-8 content-item">
                            <div class="col-xl-6 config-item">
                                <h4>Nome do tópico</h4>
                                <input name="name-topic" type="text" value="<% if (data.topic) { %> <%=data.topic.name_topic%> <% } %>"/>
                            </div>
                            <div class="col-xl-6 config-item">
                                <h4>Descrição do tópico</h4>
                                <textarea name="description-topic"><% if (data.topic) { %> <%=data.topic.description_topic%> <% } %></textarea>
                            </div>
                            <div class="col-xl-12 config-item type-topic">
                                <h4 class="col-xl-12">Tipo</h4>
                                <% data.typeTopics.forEach(function(typeTopic) { %>
                                    <div class="col-xl-2 item-type">
                                        <figure name="type-topic" data-id="<%= typeTopic.id_type_topic %>"
                                        <% if (data.topic) {  %>
                                            <%if (data.topic.id_type_topic == typeTopic.id_type_topic) { %>
                                                class="active"
                                            <% } %>
                                        <% } %>>
                                            <img src="svg/itens/<%=typeTopic.file_type_topic%>.svg"/>
                                        </figure>
                                        <label><%= typeTopic.name_type_topic %></label>
                                    </div>
                                <% }); %>  
                            </div>
                        </section>
                        <section class="col-xl-4 content-item">
                            <div class="col-xl-12 config-item">
                                <h4>Disciplina</h4>
                                <ul>
                                    <% data.disciplines.forEach(function(discipline) { %>
                                        <li>
                                            <input type="radio" name="discipline-topic" 
                                            id="discipline-<%= discipline.id_discipline %>" 
                                            data-id="<%= discipline.id_discipline %>"
                                            <% if (data.topic) {  %>
                                                <%if (data.topic.id_discipline == discipline.id_discipline) { %>
                                                    checked
                                                <% } %>
                                            <% } %>
                                            />
                                            <label for="#discipline-<%= discipline.id_discipline %>">
                                                <%= discipline.name_discipline %>
                                            </label>
                                        </li>
                                        <% }); %>
                                </ul>
                            </div>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <script class="script-add-topic" data-content="generic">
        var editTopic = JSON.parse('<%- JSON.stringify(data) %>');

        if(!editTopic.topic){
            $('.config-item .item-type:nth(0) figure').addClass('active');
        }
        
        $('.type-topic figure').on('click', function(){
            if(!$(this).hasClass('active')){
                $('.type-topic figure').removeClass('active');
                $(this).addClass('active');
            }
        });

        $('#save-topic').on('click', function(){
            var that = $(this), 
            valid = false,
            idTopic = $('input[name="id-topic"]'),
            idColaborationTopic = $('input[name="id-colaboration-topic"]'),
            nameTopic = $('input[name="name-topic"]'),
            descriptionTopic = $('textarea[name="description-topic"]'),
            typeTopic = $('figure.active[name="type-topic"]'),
            disciplineTopic = $('input[name="discipline-topic"]:checked'),
            user = JSON.parse(localStorage.getItem('user')),
            type = "";

            var emptyField = nameTopic.val().length == 0 || descriptionTopic.val().length == 0 ||
            typeTopic.length == 0 || disciplineTopic.length == 0;

            try{
                if(emptyField){
                    throw "Preencha todos os campos!";
                }else{
                    valid = true;
                }
            }catch(e){
                alert(e);
            }finally{
                if(valid){
                    that.addClass('inactive');
                    
                    if(idTopic.val().length == 0){
                        type = 'insert';
                    }else{
                        type = 'update';
                    }

                    var objectData = {
                        "idTopic": idTopic.val(),
                        "idColaborationTopic": idColaborationTopic.val(),
                        "nameTopic": nameTopic.val(),
                        "descriptionTopic": descriptionTopic.val(),
                        "idTypeTopic": typeTopic.attr('data-id'),
                        "idDiscipline": disciplineTopic.attr('data-id'),
                        "idStudent": user.id
                    };

                    var data = { 
                        'controller' : {
                            'type': type,
                            'entity': 'topic',
                            'parameters': objectData
                        }
                    };
                   
                    $.ajax({
                            url : '/student/post/' + type,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data : JSON.stringify(data),
                            async : false,
                            type: 'POST'
                        }).done(function(data){
                            try{
                                if(!data){
                                    throw "error";
                                }
                            }catch(e){
                                that.removeClass('inactive');
                                alert('ocorreu um erro!');
                            }finally{
                                if(type == "insert"){
                                    idTopic.val(data.idTopic);
                                    idColaborationTopic.val(data.idColaborationTopic);
                                    that.next().text('alterar tópico');
                                    alert('tópico salvo com sucesso!');
                                }else{
                                    alert('tópico alterado com sucesso!');
                                }

                                that.removeClass('inactive');
                            }
                        });
                }
            }
        });
    </script>
</body>

</html>